* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
}

.navbar {
  display: flex;
  flex: 0 0 auto;
  color: black;
  font-size: 14px;
  justify-content: flex-end;
  width: 100%;
}

.navbar-links {
  line-height: 24px;
  padding: 16px 30px;
  display: flex;
  align-items: center;
}

.nav-link {
  display: inline-block;
  margin-left: 15px;
}

a {
  text-decoration: none;
  color: #3c4043;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.signin {
  background-color: #1a73e8;
  color: white;
  font-weight: 500;
  font-size: 14px;
  padding: 3px 15px;
  border-radius: 3px;
  border: 1px solid transparent;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-width: 360px;
}

.logo-img {
  margin-top: 47px;
  height: 130px;
}

.search {
  width: 100%;
  margin-bottom: 10px;
  justify-content: center;
  display: flex;
}

.search i{
 position: absolute;
 }

#search-box {
  width: 40%;
  padding: 10px 50px;
  border-radius: 25px 25px 25px 25px;
  border: 1px solid #ebe9e9;
}

.icon {
  padding: 10px;
  min-width: 40px;
  color: rgba(0,0,0,.54);
  height: 20px;
  width: 20px;
  margin-right: 36%;
} 

#search-box:hover {
  box-shadow: 1px 1px 4px 2px #dfe1e5;
}

.btn {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 25px;
}

.apps {
  color: rgba(0,0,0,.54);
}

.apps:hover {
  color: #3c4043;
}

.button:hover {
  border: 1px solid #d8d7d7;
}

.button {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  margin: 11px 6px;
  padding: 0 16px;
  line-height: 27px;
  height: 38px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.language {
  display: inline-block;
  line-height: 28px;
  font-size: small;
}

.language a {
  padding: 0 3px;
  color: #1a0dab;
}

footer {
  width: 100%;
  position: absolute;
  background: #f2f2f2;
  line-height: 40px;
  border-top: 1px solid #dadce0;
  min-width: 400px;
  color: rgba(0,0,0,.54);
  font-size: 14px;
  margin-top: 158px;
}

footer p {
  padding-left: 27px;
}

.footer-left {
  float: left;
  padding-left: 27px;
}

.footer-left a {
  display: inline-block;
  padding-right: 15px;
  color: rgba(0,0,0,.54);
}

.footer-info {
  border-top: 1px solid #dadce0;
}
.footer-right {
  float: right;
  padding-right: 27px;
}

.footer-right a {
  display: inline-block;
  padding-left: 15px;
  color: rgba(0,0,0,.54);
}
